Chapter 8/mcb.bak
Chapter 8/mcb.bat
Chapter 8/mcb.dat
Chapter 8/mcb.dir
Chapter 8/new_story.txt
Chapter 8/sample.txt
Chapter 8/story.txt
Chapter 9/poem.*
Chapter 12/vegetables_sold_copy.xlsx
Chapter 12/vegetables_sold.xlsx
